body {
  background-color: rgb(114, 182, 237);
  /* background-color: rgb(106, 205, 244); */
}
h1 {
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(240, 246, 240);
}
