body {
  background-color: rgb(114, 182, 237);
  /* background-color: rgb(106, 205, 244); */
}
h1 {
  font-size: xx-large;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(240, 246, 240);
  text-align: center;
}
h2 {
  font-size: xx-large;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: azure;
  text-align: center;
}
h3 {
  font-size: xx-large;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: azure;
  text-align: center;
}
p {
  font-size: xx-large;
  text-align: center;
}
main {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a:link {
  color: crimson;
}
a:visited {
  color: crimson;
}
